@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* GERAL ---------------------------------------------*/
:root{
    --azul: #193B55;
    --rosa: #E50058;
    --laranja: #FF740F;
    --amarelo: #FFBE36;

    --f-padrao: Arial, Verdana, Helvetica, sans-serif;
    --f-destaque: "Bebas Neue", sans-serif;
}

*{
    margin: 0px;
    border: 0px; 
    z-index: 0;
    font-family: var(--f-padrao);
    color: white; 
}

h1, h2, h3, h4{
    font-family: var(--f-destaque);
}

/* CABEÇALHO --------------------------------------------- */
#cabecalho{
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

#rodape{
    position: relative;
}